* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  color: #444444;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 3.5rem;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  & .nav__logo {
    height: 3.5rem;
    padding-left: 4rem;
    padding-right: 6.56rem;
    background-color: white;
    @media (max-width: 768px) {
      align-self: flex-start;
    }
  }
  & .nav__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    & .nav__list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 3.5rem;
      background-color: #232323;
      color: #ffffff;
      text-decoration: none;
      list-style-type: none;
      padding: 1.25rem 5rem;
      text-transform: uppercase;
      border-style: solid;
      border-color: red;
      &:hover {
        background-color: #54be90;
      }
    }
  }
}

// Martin - I changed some things in header
.header {
  background-image: url("/img/frond-1869757_1280.png");
  color: #ffffff;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 10vh;
  padding-top: 10vh;

  & span {
    color: aqua;
    text-decoration: underline white;
  }

  & .header__title {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 0;
  }
  & .header__desc {
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 0;
  }
}

.process {
  text-align: center;
  padding: 2rem;
}

& .process__quote {
  font-size: 1.75rem;
  padding: 0 10rem 0 10rem;
}

& .process__container {
  display: flex;
  justify-content: space-between;
  background-color: #232323;
  color: #ffffff;
  padding: 6rem 15% 3rem 15%;
  margin-top: 5rem;
  border-radius: 10rem;
  
  }

  & .process__item {
    width: 20%;
    font-size: 1.25rem;
    position: relative;
  }

  & .process__tittle {
    color: aqua;
    font-weight: 800;
    font-size: 1.75rem;
    border-bottom: 3px solid white;
  }

  & .process__circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 17.5rem;
    left: 3.5rem;
  }
}

.footer {
  background-color: #ebebeb;
  padding: 4rem 15%;
  font-family: "Arapey", serif;
  font-style: italic;

  & .heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #232323;
    font-size: 3rem;
    font-weight: 800;
  }
  & .footer__line {
    width: 25%;
    height: 0.5rem;
    background-color: #54be90;
  }
  & .footer__copy {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
  }
}
